.person{
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  .info{
    width: 300px;
  }
  .profile{
    padding: 20px;
    background:#221A37;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar{
    width: 250px;
    height: 250px;
    background: blue;
    border: 4px solid #27AE60 ;
    border-radius: 50%;
    img{
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%
    }
    img[src*=""]{
       display: none;
    }
  }
  .name{
    margin: 10px ;
    font-size: 30px;
    color:#27AE60;

  }
  button{
    width: 200px;
    margin: 10px;
  }
  // img[src*=""]{
  //   display: block;
  // }
  .main{
    width: 100%;
    margin: 0 0 0 40px;
    padding: 30px;
    background:#221A37;
    border-radius: 20px;
    .filter{
      display: flex;
      flex-direction: column;
      align-items:center;
    }
  }
  .tests{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
}
