body {
  background: #342B4A;
  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.active {
  color: #662DFC;
}

// ------------------------------------------------------

  
  .form__input{
    margin: 20px 20px 20px 0;
    width: 300px;
    &:nth-child(even) {
      margin-right: 0;
    }

    label{
      display: inline-block;
      margin: 0 0 5px 10px;
    }
    &.invalid label{
      color: #EE5151;
    }

    input{
      width: 100%;//*
      font-family: inherit;
      font-size: 20px;//*
      padding: 10px;//*
      border: 2px solid #B396FD;
      border-radius:20px;//*
      background: none;
      color: #fff;
      outline: none;//*
      transition: 0.25s;//*
      &:focus{
        border-color: #27AE60;
      }
    }
    &.invalid input{
      border-color: #EE5151;
      color: #EE5151;
    }
  }


