body {
  background: #342B4A;
  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.active {
  color: #662DFC;
}

.buttons{
  display: flex;
  justify-content: space-between;
  button{
    width: 200px;
  }
}
