body {
  background: #342B4A;
  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.container{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}

// Header
header{
  background: #221A37;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  .header__logo{
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 10px;
    border: 1px solid #342B4A;
    border-radius: 25.5px;
    img{
      width: 25px;
      height: 25px;
      margin: 0 15px 0 0;
    }
  }

  .header__menu{
    .menu{
      display: flex;
      flex-direction: row;
      list-style: none;
      li{
        margin: 0 15px;
        cursor: pointer;
        &:active, &:hover{
          color: #662DFC;
        }
      }
    }
  }

  .header__login{
    padding: 9px 20px;
    background: #662DFC;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items:center;
      img{
        width: 23px;
        height: 23px;
        margin: 0 5px 0 0;
      }

      &:hover{
        background: #B396FD;
      }
  }
}

//Main-items
.tests__list{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.test__item{
  border-radius: 15px;
  background: #221A37;
  margin: 20px 20px ;
}

.item__inner{
  width: 430px;

  .item__image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .item__body{
    padding: 10px 20px 35px;
    border-bottom: 1px solid #B396FD;
    .item__title{
      margin: 0 0 15px 0;
      font-size: 23px;
      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:hover{
        color: #662DFC
      }
    }

    .item__text{
     font-size: 14px;
     line-height: 1.5;
     color: #B396FD;
    }
  }

  .item__bottom{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item__rating{
      margin-left: 40px;
      position: relative;
      width: 30px;
        &:before{
          content: '';
          width: 25px;
          height: 25px;
          position: absolute;
          left: -35px;
          top: -3px;
          background: url("../../public/assets/like3.svg") center / cover no-repeat;
          background-size: 25px 25px;
        }
    }

    .item__limit{
      position: relative;
      width: 30px;
      &:before{
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        left: -35px;
        top: -3px;
        background: url("../../public/assets/count1.svg") center / cover no-repeat;
        background-size: 25px 25px;
      }
    }

    .item__profile{
      display: flex;
      flex-direction: row;
      align-items:center;
      i{
        display: inline-block;
        margin: 10px 20px;
      }
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

    }
  }
}


//input

.control__input{
  width: 100%;
  padding: 10px;
  border:0;
  outline: none;
  font-size: 20px;
  box-shadow:0 2px  10px 4px rgba(0,245,0,0.1);
  border-radius: 5px;
  color:#000;
  font-family: inherit;
}
//authorization

.authorization{
  width: 100%;
  margin: 200px 0;
  display: flex;
  justify-content: center;
}

.authorization__inner{
  width: 500px;
  padding: 20px 40px;
  border: 1px solid #221A37;
  border-radius: 20px;
  background:#221A37;
    h1{
      text-align: center;
      margin: 0 0 50px;
    }
    .authorization__buttons{
      margin: 30px 0 10px;
      display: flex;
      // justify-content: space-between;
      flex-direction: column;
      .btn{
        margin: 10px 0;
      }
    }
}


// constructor

.constructor{
  margin: 100px 0 ;
  display: flex;
  justify-content: center;
}
.constructor__inner{
  width: 700px;
  padding: 30px 40px;
  border-radius: 20px;
  background:#221A37;
  h1{
    text-align: center;
    margin: 0 0 50px;
  }

}

// testdone preview

.testdone{
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.testdone__inner{
  width: 550px;
  border-radius: 20px;
  background:#221A37;
  img{
    max-width: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .testdone__body{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    .testdone__info{
      position: absolute;
      top: -30px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      background:#662DFC;
      .info__user{
        display: flex;
        flex-direction: row;
        font-size: 14px;
        padding: 0 15px;
        span{
          margin: 0 10px;
          display: flex;
          align-items:center;
          font-size: 18px;
        }
        img{
          margin: 5px;
          max-width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .info__rating{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0 15px;
        padding: 0 15px;
        &:before{
          content: '';
          width: 25px;
          height: 25px;
          position: absolute;
          left: -15px;
          top: 5px;
          background: url("../../public/assets/like3.svg") center / cover no-repeat;
          background-size: 25px 25px;
        }
      }

      .info__done{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0 15px;
        padding: 0 15px;
        &:before{
          content: '';
          width: 25px;
          height: 25px;
          position: absolute;
          left: -15px;
          top: 5px;
          background: url("../../public/assets/done1.png") center / cover no-repeat;
          background-size: 25px 25px;
        }
      }
    }
    .testdone__title ,.testdone__text{
      text-align: center;
      margin: 30px 0;
      line-height: 1;
    }

    .testdone__title{
      font-size: 25px;
    }

    .testdone__text{
      margin: 0;
      font-size: 15px;
    }
  }

  .testdone__bottom{
    margin: 30px 0;
    width: 100%;
    .testdone__number{
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 14px;
    }
    .testdone__button{

    }
  }
}

// view test

.question{
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.question__inner{
  width: 500px;
  border-radius: 20px;
  background:#221A37;
  padding: 20px;
  .question__title{
    text-align: center;
    margin: 0 0 20px;
    line-height: 1;
    small{
      display: block;
      margin: 10px 0 0 ;
    }
  }
}

.answer__body{
  width: 100%;
  h4{
    text-align: center;
    color: #662DFC;
    line-height: 1;
    margin: 20px 0;
    font-weight: 800;
  }

}


//header for question

.question__header{
  background:#221A37;
}

.wrapper{
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  color: #662DFC;
  .question__name{
    display: flex;
    justify-content: space-between;
    .question__count{
      margin: 0 25px ;
    }
  }
  .question__exit{
    span{
      margin: 0 15px;
      &:last-child{
        margin-right:0 ;
      }
    }
  
  }
}



//DescriptionTest

.discription{
  margin: 70px 0;
  display: flex;
  justify-content: center;
}

.discription__inner{
  width: 700px;
  padding: 30px 40px;
  border-radius: 20px;
  background:#221A37;

  .discription__control{
    margin: 30px 0;
    font-size: 21px;
    input{
      width: 100%;
      padding: 10px;
      border:0;
      outline: none;
      font-size: 21px;
      box-shadow:0 2px  10px 4px rgba(0,245,0,0.1);
      border-radius: 5px;
      color:#000;
      font-family: inherit;
    }

    textarea{
      max-width: 620px;
      min-width: 620px;
      min-height: 100px;
      max-height: 200px;
      padding: 10px;
      border:0;
      outline: none;
      font-size: 21px;
      box-shadow:0 2px  10px 4px rgba(0,245,0,0.1);
      border-radius: 5px;
      color:#000;
      font-family: inherit;
    }


  }

  .discription__image{
    margin: 40px 0;
    text-align: center;
    label{
      padding: 12px;
      border: 1px solid #662DFC;
      border-radius: 20px;
      cursor: pointer;

      &:hover{
        background:#662DFC;
      }
    }
    input{
      display: none;
    }
  }


  .discription__bottom{
    display: flex;
    justify-content: space-between;
    button{
      width: 200px;
    }
  }
}

.registration{
  // position: relative;
}
.registration__form{
  margin: 70px auto;
  width: 700px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  background :#221A37;
  border-radius: 10px;
  h1{
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .form__controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .form__input{
    margin: 20px 20px 20px 0;
    width: 300px;
    &:nth-child(even) {
      margin-right: 0;
    }

    label{
      display: inline-block;
      margin: 0 0 5px 10px;
    }
    &.invalid label{
      color: #EE5151;
    }

    input{
      width: 100%;
      font-family: inherit;
      font-size: 20px;
      padding: 10px;
      border: 2px solid #B396FD;
      border-radius:20px;
      background: none;
      color: #fff;
      outline: none;
      transition: 0.25s;
      &:focus{
        border-color: #27AE60;
      }
    }
    &.invalid input{
      border-color: #EE5151;
      color: #EE5151;
    }
  }
  button{
    max-width: 250px;
  }
}

